* {
    background-color:whitesmoke;

}

header {
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(90, 120, 130);
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}